body {
    background: #520078;
    font-family: 'Times New Roman', Times, serif;
}

form {
    background-color: #758f7e;
    border-radius: 10px;
}

label.form-label {
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

input.form-control {
    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: all 0.3s ease;
}

input.form-control:focus {
    border-color: #520078;
    box-shadow: 0 0 5px rgba(7, 11, 16, 0.4);
}

button.btn-primary {
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
}

.form-text {
    color: #000000;
    font-size: 0.9rem;
}